<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="#" style="width:4rem;">
            <img class="w-100" src="../../assets/images/Logo-UAQ-Charity-Association.svg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active d-inline-block navRouter" aria-current="page" routerLink="project"
                        routerLinkActive="ActiveHeader">
                        <img src="../../assets/images/navbar/Projects.svg " class="w-auto mx-1 convertWSvgToB"
                            alt=""><span>Project</span> </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navRouter" routerLink="transaction" routerLinkActive="ActiveHeader">
                        <img src="../../assets/images/navbar/Transaction.svg" class="w-auto mx-1"
                            alt=""><span>Transaction</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navRouter" routerLink="news" routerLinkActive="ActiveHeader">
                        <img src="../../assets/images/navbar/News.svg" class="w-auto mx-1" alt=""><span>News</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link navRouter" routerLink="beneficiary" routerLinkActive="ActiveHeader">
                        <img src="../../assets/images/navbar/Beneficiary.svg" class="w-auto mx-1"
                            alt=""><span>Beneficiary</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navRouter" routerLink="mangesuser" routerLinkActive="ActiveHeader">
                        <img src="../../assets/images/navbar/Manage Users.svg" class="w-auto mx-1" alt=""><span>Manges
                            User</span></a>
                </li>
            </ul>
            <div class="d-flex btn-logout">
                <img src="../../assets/images/navbar/Logout.svg" class="mx-1" alt="" srcset="">
                <span class="logout-txt">LogOut</span>
            </div>
        </div>
    </div>
</nav>