<main>
    <div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;">
        <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
            <div class="col" *ngFor="let product of products">
                <div class="card shadow-sm" style="border-radius: 15px;">
                    <div class="card-img-top" style="padding: 15px; position: relative; border-radius: 15px;">
                        <span class="product-cate">{{product.category}}</span>
                        <img src="{{product.image}}" class="card-img-top"
                            style="width: 100%; height: auto; max-height: 200px; object-fit: fill; border-radius: 15px;"
                            alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title text-center">{{product.title}}</h5>
                        <div class="d-grid gap-2 my-4">
                            <button href="#" class="btn btn-secondary w-100"
                                style="border-radius:  20px 20px 20px 20px">
                                <img src="../../assets/images/card/Edit Project.svg" class="mx-1" alt="">
                                <span>Edit Project</span></button>
                        </div>
                        <div class="btn-footer-card d-flex justify-content-around">
                            <button class="btn btn-outline-secondary button-footer-card-mange"><img
                                    src="../../assets/images/card/Manage.svg" class="mx-1"
                                    alt=""><span>Mangae</span></button>
                            <button class="btn btn-outline-danger button-footer-card-del"><img
                                    src="../../assets/images/card/Delete.svg" class="mx-1" alt="">
                                <span>Delete
                                </span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>